{% extends "tv_shows/base.html"%}
{%block content%}
        
            {% for show in shows %}             
                
                <div class="card">   
                    <div class="card-body">
                        <h1>{{ show.name }}</h5>
                        <p >
                            {% for category in show.categories.all %}
                                <span class="tag">{{ category }}</span>|
                            {% endfor %}    
                        </p>
                        <p>
                            <a href="{% url 'show' show.pk %}" class="card-link">Stats</a>
                            <a href="{% url 'update_show' show.pk %}" class="card-link">Edit</a>
                            <a href="{% url 'delete_show' show.pk %}" class="card-link">Delete</a>
                            <a href="{% url 'create_spent' show.pk %}" class="card-link">Add</a>                            
                        </p>
                    </div>
                </div>                          
            {% empty %}
                <h3>No Shows found ...</h3>
            {% endfor %}                
            
        
                  
    
    
{%endblock content%}