{% extends "tv_shows/base.html"%}
{%block content%}

    <div class="col">
        {% if tv_show %}
            <h1>{{tv_show}}</h1>        
        {% endif %}
        
        <h3>History</h3>
        <p>
            {% if total_time_elapse %}
                The total time watching {{tv_show}} was {{total_time_elapse}}
            {% else %}
                Not information yet!
            {% endif %}
            
        </p>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Starting at</th>
                  <th scope="col">Finishing at</th>
                  <th scope="col">Actions</th>
              </tr>
            </thead>     
    
            <tbody>          
                {% for spent in spents %}
                    <tr>                
                        <td>{{spent.date|date:"F j, Y"}}</td>
                        <td>{{spent.initial_time}}</td>
                        <td>{{spent.final_time}} </td>
                        <td>
                            <a href="{% url 'update_spent' pk1 spent.pk %}">Edit</a>|
                            <a href="{% url 'delete_spent' pk1 spent.pk %}">Delete</a>
                        </td>
                    </tr>                       
                {% empty %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}                   
            </tbody>
        </table>                
    </div>

    
    
{%endblock content%}